.scrollup {
    position: fixed;
    right: 2.5em;
    bottom: -20%;
    background: gray;
    opacity: 0.8;
    padding: 2px;
    border-radius: 0.2em;
    z-index: 2;
    transition: .4s;
}
.scrollup img {
    width: 30px;
}
.scrollup__icon {
    font-size: 1.5em;
    color: white;
}

.scrollup:hover {
    background: white;
}

.show-scroll {
    bottom: 3em;
    transition: 0.5s;
}

@media (max-width:800px) {
    .scrollup {
        right: 2em;
    }
    .scrollup img {
        width: 20px;
    }
}